{% extends 'base.html' %}
{% block header %}
    <h2>{%block title %}Crear Tarjeta{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Crear Tarjeta</h3></div>
                <div   class="card-body">


   
                    <form method="post">

                        <div class="mb-3">
                            <label class="form-label" for="adelante">Adelante</label>
                            <input  class="form-control"  type="text" name="adelante" id="adelante" required>
                        
                        </div>
                        

                        <div class="mb-3">
                            <label class="form-label"  for="atras">Atras</label>
                            <input class="form-control"  type="text" name="atras" id="atras"  required>
                        </div>
                        
                    
                    
                        <input class="btn btn-primary" type="submit", value="Guardar">
                    </form>

    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}